@charset "UTF-8";
html, body {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

#slidemenu {
  display: none;
  border: 1px solid #f1f3f4;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #fff;
  width: 60%;
  height: 100%;
  z-index: 9999;
}

#slidemenu li {
  margin-top: 10px;
}

#slidemenu li a {
  color: #323232;
}

#slidemenu li a.active {
  color: #26BEC9;
}

#closeMenu {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: #f1f3f4;
  opacity: 0.5;
}

.header {
  background-color: white;
  -webkit-box-shadow: 0px 2px 1px 1px #f1f3f4;
          box-shadow: 0px 2px 1px 1px #f1f3f4;
}

.header .container {
  padding-top: 5px;
  padding-bottom: 10px;
}

.header .container a.logo {
  margin: 0px 0px;
  background-image: url("../img/kaohsiung.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
}

.header .container ul.nav li.nav-item a.nav-link {
  height: 100%;
  color: #323232;
}

.header .container ul.nav li.nav-item a.active {
  color: #26BEC9;
}

.formContent {
  background-image: url("../img/bn.jpg");
  background-size: cover;
  height: 300px;
}

.formContent .container {
  height: 100%;
}

.formContent .container .form {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.formContent .container .form h3, .formContent .container .form h5 {
  color: white;
  text-shadow: 3px 3px 3px #B6CCCF;
  letter-spacing: 1px;
}

.formContent .container .form .zoneSelectform label {
  color: #323232;
  font-size: 1em;
}

.hotContent {
  background-color: #f1f3f4;
  height: auto;
}

.hotContent .container {
  height: 100%;
  padding-top: 5px;
  padding-bottom: 20px;
}

.hotContent .container h5 {
  margin: 10px 0px;
}

.hotContent .container ul {
  padding: 0px;
  margin: 0px;
}

.hotContent .container ul > li {
  padding: 0px;
  list-style: none;
  height: 150px;
  text-align: center;
  border-radius: 5px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.hotContent .container ul > li a {
  text-decoration: none;
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  color: white;
  text-shadow: 0px 1px 2px #B6CCCF;
  font-size: 24px;
}

.hotContent .container ul > li#hotItem1 {
  background-image: url("../img/苓雅zone.jpeg");
  background-size: cover;
  opacity: 0.9;
}

.hotContent .container ul > li#hotItem2 {
  background-image: url("../img/三民zone.jpeg");
  background-size: cover;
  opacity: 0.9;
}

.hotContent .container ul > li#hotItem3 {
  background-image: url("../img/新興zone.jpeg");
  background-size: cover;
  opacity: 0.9;
}

.hotContent .container ul > li#hotItem4 {
  background-image: url("../img/美濃zone.jpeg");
  background-size: cover;
  opacity: 0.9;
}

.mainContent .container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.mainContent .container #dataContainer .dataBlock {
  height: auto;
  padding: 20px 10px;
}

.mainContent .container #dataContainer .dataBlock .cardBlock {
  height: 100%;
  border-radius: 10px;
  border: 2px solid #f1f3f4;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  cursor: pointer;
}

.mainContent .container #dataContainer .dataBlock .cardBlock .image {
  width: 100%;
  overflow: hidden;
  height: 233px;
  border-radius: 10px 10px 0px 0px;
}

.mainContent .container #dataContainer .dataBlock .cardBlock .image img {
  width: 100%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.mainContent .container #dataContainer .dataBlock .cardBlock:hover {
  opacity: 0.8;
}

.mainContent .container #dataContainer .dataBlock .cardBlock:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.mainContent .container #dataContainer .dataBlock .cardBlock .text {
  padding: 10px;
}

.mainContent .container #dataContainer .dataBlock .cardBlock .text h5 {
  letter-spacing: 2px;
}

.mainContent .container #dataContainer .dataBlock .cardBlock .text h6 {
  color: #323232;
  opacity: 0.6;
}

#pageContainer {
  width: 100%;
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
}

@media (max-width: 768px) {
  #slidemenu {
    display: none;
  }
  .header #slideBtn {
    display: block;
    height: 60px;
  }
  .header #slideBtn .row {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .header #slideBtn .block {
    border: 1px solid;
    max-width: 25px;
    width: 100%;
    margin: 5px 0px 5px 0px;
  }
  .header #menu {
    display: none;
  }
  .hotContent .container ul > li {
    height: 70px;
  }
}
/*# sourceMappingURL=main.css.map */